.cols {
  display: flex;
}

.fifty {
  flex: 50%;
}

.left-code {
  height: 92%;
  width: 24.8%;
  float: left;
  padding-top: 1em;
}

.left-code h2 {
  padding-top: 1em;
  font-size: 1em !important;
}

.right-code {
  width: 45%;
  float: right;
  padding-top: 1em;
  margin-left: 1.5em;
}

.w-60>* {
  width: 60%;
}

.overlay-image {
  position: absolute;
  width: 40%;
  top: 100px;
  right: 40px;
}

.remark-slide-content.img-right-small>p:first-of-type {
  height: 100%;
  float: right;
  width: calc(30% - 1rem);
  margin-left: 2rem;
  margin-top: 0;
  padding: 0px;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.remark-slide-content p>code,
.remark-slide-content li>code,
.remark-slide-content a>code {
  background-color: #272822;
  display: inline-block;
  color: #dddddd;
  padding: 8px;
  border-radius: 4px;
}
